<script type="text/javascript" src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/jquery-migrate/1.4.1/jquery-migrate.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/bootstrap-table/1.2.0/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/jquery-treegrid/0.2.0/js/jquery.treegrid.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/jquery-validate/1.15.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/jquery-validate/1.15.1/additional-methods.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/jquery-validate/1.15.1/localization/messages_zh.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/jquery.form/4.2.0/jquery.form.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/layer/3.0.1/layer.min.js"></script>
<script type="text/javascript" src="/static/assets/adminlte-2.3.7/js/app.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
