<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
</head>
<body>
<section class="content-header">
    <h1>会员管理</h1>
    <small>会员管理</small>
</section>
<section class="content table-content">
    <table id="dataGrid"></table>
</section>
<div th:include="console/footer"></div>
</body>
<script type="text/javascript">
    $table = $("#dataGrid");
    $(function () {
        initDataGrid();
    });
    function initDataGrid(){
        $table.bootstrapTable({
            height : tableModel.getHeight(),
            idField : "uid",
            columns : [[
                {title: "用户名", field: "account" },
                {title: "状态", field: "state",formatter : tableModel.getState},
                {title: "创建时间", field: "createdAt", sortable: true},
                {title: "更新日期", field: "updatedAt", sortable: true},
                {title: "操作", field: "operate", align: 'center', events: operateEvents, formatter: operateFormatter}
            ]],
            url : '/console/member/list',
            queryParams: function(params){
                return params;
            },
            responseHandler : function (res) {
                return {
                    rows : res.result.pageInfo.list,
                    total : res.result.pageInfo.total
                }
            },
            search : true,
            searchOnEnterKey : true,
            sortName : 'createdAt',
            sortOrder : 'asc',
            pagination : true,
            sidePagination : 'server',
            pageSize: 20,
            pageList : [20, 40, 50, 100],
            showRefresh : true,
            showToggle : true
        });
    }

    function operateFormatter(value, row, index) {
        return [
            /*'<a href="/console/admin/from?uid='+row.uid+'" >',
            '<i class="glyphicon glyphicon-edit"></i>修改',
            '</a>  ',*/
            '<a class="remove" href="javascript:void(0);">',
            '<i class="glyphicon glyphicon-remove"></i>删除',
            '</a>'
        ].join('');
    }

    window.operateEvents = {
        'click .remove': function (e, value, row, index) {
            layer.msg('暂不支持删除')
        }
    };
</script>
</html>