<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="member/header::head('登录')">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <form class="ajaxforms" method="post" action="/member/login">
                    <div class="form-group">
                        <label>账号</label>
                        <input type="text" class="form-control"  name="account" placeholder="账号">
                    </div>
                    <div class="form-group">
                        <label>密码</label>
                        <input type="password" class="form-control" name="password" placeholder="密码">
                    </div>
                    <input type="submit" class="form-control btn-primary" value="AJAX登录" />
                </form>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <form method="post" action="/member/login">
                    <div class="form-group">
                        <label>账号</label>
                        <input type="text" class="form-control"  name="account" placeholder="账号">
                    </div>
                    <div class="form-group">
                        <label>密码</label>
                        <input type="password" class="form-control" name="password" placeholder="密码">
                    </div>
                    <input type="submit" class="form-control btn-primary" value="默认登录" />
                </form>
            </div>
        </div>
    </div>

    <div th:replace="member/footer"></div>

    <script type="text/javascript">
        $(function () {
            var form = $("form.ajaxforms");
            var formloading = false;
            form.validate({
                showErrors : function(errorMap, errorArr) {
                    try {
                        $(errorArr[0].element).focus();
                        layer.msg(errorArr[0].message);
                    } catch (err) {
                    }
                },
                rules : {
                    'account' : {
                        required : true
                    },
                    'password' : {
                        required : true,
                    }
                },
                //验证未通过提示消息
                messages : {
                    'account' : {
                        required : '请输入用户名'
                    },
                    'password' : {
                        required : '请输入密码'
                    }
                },
                submitHandler : function(forms) {
                    if (formloading) return;
                    $(forms).ajaxSubmit({
                        url : form.attr('action'),
                        dataType : 'json',
                        beforeSubmit : function(arr, $form, options) {
                            formloading = true;
                        },
                        success : function(data, statusText, xhr, $form) {
                            formloading = false;
                            if (data.status == 1) {
                                window.location.href = '/member/index';
                            } else {
                                layer.msg(data.msg);
                            }
                        },
                        error : function () {

                        }
                    });
                }
            })
        })(jQuery);
    </script>
</body>
</html>